.main {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  font-family: Heebo, sans-serif;
  text-align: center;
  letter-spacing: 0.3px;
  color: #060508;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  background-color: #fff;
  box-sizing: border-box;
  padding: 32px 30px 40px;
  width: 100%;
  height: 610px;
  max-width: 445px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-header {
  margin: 0;
  font-size: 26px;
  font-weight: 900;
  line-height: 38px;
}

.form-email-label {
  margin: 0;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align: start;
}

.form-email-input {
  margin-top: 10px;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 9px 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #F7F7F7;
  box-shadow: inset 0 -1.5px 0 0 #060508;
}

.files-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.files-list-type-icon-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.files-list-file-name {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.form-files-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dashed #E3E3E3;
  background-color: #F7F7F7;
  padding: 25px 0;
  max-height: 140px;
  line-height: 20px;
  cursor: pointer;
}

.form-drag-drop-text {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.form-drag-drop-or-text {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.form-files-drop-browse {
  color: #0096E6;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.image-container {
  align-self: center;
  max-height: 610px;
}

.submit-btn {
  padding: 0;
  background-color: #060508;
  color: #fff;
  width: 100%;
  height: 48px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.3px;
  line-height: 20px;
}
