:root {
  --main-color: #060508;
  --bg-secondary-color: #F7F7F7;
  --progress-color: #EC6630;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  font-family: Heebo, sans-serif;
  text-align: center;
  letter-spacing: 0.3px;
  color: var(--main-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  background-color: #fff;
  box-sizing: border-box;
  padding: 32px 30px 40px;
  width: 100%;
  height: 610px;
  max-width: 445px;
  border-radius: 4px 0 0 4px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-header {
  margin: 0;
  font-size: 26px;
  font-weight: 900;
  line-height: 38px;
}

.form-email-label {
  margin: 24px 0 0 0;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align: start;
}

.form-email-input {
  margin-top: 10px;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 9px 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg-secondary-color);
  box-shadow: inset 0 -1.5px 0 0 var(--main-color);
}


.files-list {
  list-style: none;
}

.form-list-item {
  margin-top: 30px;
}

.form-list-item-progress {
  color: var(--progress-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-name-and-progress-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.file-name-and-progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 20px;

}

.file-name-css {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.file-name {
  text-align: start;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.form-files-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dashed #E3E3E3;
  background-color: #F7F7F7;
  padding: 25px 0;
  max-height: 140px;
  line-height: 20px;
  cursor: pointer;
}

.form-drag-drop-text {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.form-drag-drop-or-text {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.form-files-drop-browse {
  color: #0096E6;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.image-container {
  align-self: center;
  max-height: 610px;
  border-radius: 0 4px 4px 0;
}

.submit-btn {
  padding: 0;
  background-color: var(--main-color);
  color: #fff;
  width: 100%;
  height: 48px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.progress-bar {
  margin-top: 10px;
  height: 3px;
  width: 100%;
  background-color: var(--bg-secondary-color);
}

.filler {
  background: var(--progress-color);
  height: 100%;
  transition: width .2s ease-in;
}

@media screen and (max-width: 1224px) {
  .main {
    flex-direction: column;
    height: auto;
    padding: 50px 0;
  }

  .form-container {
    max-width: 475px;
    border-radius: 4px 4px 0 0;
  }

  .image-container {
    border-radius: 0 0 4px 4px;
  }
}
